.navbar {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.left {
    flex: 1;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.mid {
    flex: 3;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.mid input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 14px;
}

.mid input:focus {
    outline: none;
}

.search {
    font-size: 24px;
    margin-inline: 10px;
    color: #F27A1A;
    cursor: pointer;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
}

.right div {
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

.right span {
    margin-left: 5px;
    color: #333333;
    font-size: 13px;
}

.cart-container p {
    position: absolute;
    top: -10px;
    left: -5px;
    color: red;
    font-weight: bolder;
}

.cart-container {
    position: relative;
}

.cart-container * {
    display: block;
}