.wrapper {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.image {
    flex: 1;
    border-radius: 20px;
    position: relative;
    height: min-content;
    background-color: rgb(233, 236, 236);
    height: 500px;
    object-fit: contain;
}

.image img {
    width: 100%;
}

.arrow-wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow-wrapper * {
    font-size: 40px !important;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid gray;
}

.informations {
    flex: 2;
    margin-left: 20px;
}

.informations h3 {
    color: #333333;
    font-size: 20px;
}

.informations h5 {
    color: #f27a1a;
    font-size: 24px;
}

.informations p {
    color: #333333;
    font-size: 13px;
    margin-top: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.informations b {
    display: block;
    margin-bottom: 10px;
}

.price-and-add {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: gold;
    margin-right: 20px;
    border-radius: 20px;
    gap: 10px;
}